/*產品圖片*/
.product-row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 4px;
}
.product-col{
    width: calc(100%/12*6);
    padding: 0 4px;
}
.txet-primary-400{
    color: var(--Primary-400);
}
.del-price{
    ont-family: Noto Sans TC;
    font-weight: 400;
    font-size:14px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: var(--Neutral-500);
    padding-left: -8px;
}
.product-color{
    width: 64px;
    text-align: center;
    color: var(--Neutral-600);
}
.size{
    border: 1px solid var(--Neutral-300);
}
.btn .size.active
.btn .size:hover{
    border-color: var(--Neutral-900);
}
.text-danger{
    color: var(--Functional-Danger-300);
}
.btn-light{
    border-radius: 4px;
    padding: 12px 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    cursor: pointer;
    border: 1px solid var(--Neutral-900);
    background-color:white;
    color:var(--Neutral-900);
}
.btn-drak{
    border-radius: 4px;
    padding: 12px 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    cursor: pointer;
    border: none;
    background-color: var(--Neutral-900);
    color:white;
}
.plus .bi{
    padding-right: 8px;
}
.plus{
    display: flex;
    gap: 8px;
}
.plus .btn{
    width: 50%;
}
h3{
    font-family: Noto Sans TC;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color:var(--Neutral-900);
}
.product-text{
    font-family: Noto Sans TC;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color:var(--Neutral-600);
}
.product-item{
    border-bottom: 1px solid var(--Neutral-300);
}
.ml-0{
    margin-left: auto;
}
.person{
   margin-left: auto;
    
}

.menu1{
  border-bottom: 1px solid lightgray;
  margin-bottom: 24px;
}

.py-32 {
  padding: 32px 0;
}
.pr-24{
    padding-right: 24px;
}
.pl-0{
    padding-left: 0;
}


@media(max-width: 768px){
    *,
*::before,
*::after {
  box-sizing: border-box;
}
    .container{
     max-width: 100%;
     margin: 0 auto;
    padding: 0 6px;
  }
    .link{

    display: none;
  }
  .d-flex-col{
    display: flex;
    flex-direction: column;
  }
    .mb-32-m{
    margin-bottom: 32px;
  }
  .mt-32-m{
    margin-top: 32px;
  }
  .mb-24-m{
    margin-bottom: 24px;
  }
  .mb-8-m{
    margin-top: 8px;
  }
  .my-8-m{
    margin-bottom: 8px;
  }
  .mb-0-m{
    margin-bottom: 0;
  }
  .py-13-m{
    padding: 13px 0;
  }
  
  .py-16-m{
    padding: 16px 0;
  }
 
   .pb-24-m{
    padding-bottom: 24px;
  }
  .pb-12-m{
    padding-bottom: 12px;
  }
  .py-12-m{
    padding: 0 12px;
  }
  
  .slash+.slash::before{
    padding:  0 8px;
   
}
.brand-link{
    font-size: 14px;
}
.row-rwd{
    display: flex;
     flex-wrap: wrap;
    margin-right: -6px;
    margin-left: -6px;
   }  
   

    .col-rwd{
    padding-left:6px;
    padding-right: 6px;
    width:calc(100%/4);
}
    .col-2-rwd{
    padding-left:6px;
    padding-right: 6px;
    width:calc(100%/4*2);
    
}
.col-3-rwd{
   padding-left:6px;
    padding-right: 6px;
    width:calc(100%/4*3);
}
.col-4-rwd{
  padding-left:6px;
    padding-right: 6px;
    width:calc(100%/4*4);
}
 .h3-rwd{
    font-size: 28px;}
    .h4-rwd{
    font-size: 24px;}
     .h5-rwd{
    font-size: 20px;}
     .h6-rwd{
    font-size: 16px;}
    
.menu1-rwd{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}  


}
    




@media(max-width: 576px){
*,
*::before,
*::after {
  box-sizing: border-box;
}
 .container{
     max-width: 100%;
     margin: 0 auto;
    padding: 0 6px;
  }


  .row-rwd{
    display: flex;
     flex-wrap: wrap;
    margin-right: -6px;
    margin-left: -6px;
   }   
    .h5-rwd{
      font-size: 20px;}
   .pr-16-s{
      padding-right: 16px;
    }
  .pt-12-s{
      padding-top: 24px;
    }
    .btn1{
     
      padding:8px 16px;
  
  }

}