/*引入字體*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');


/* 前方引入外部資源、CSS reset */

/* 標籤的基本樣式 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

img {
	vertical-align: middle;
    max-width: 100%;
    height: auto;
}

a {
  text-decoration: none;
  color: #000;
}

/* 通用樣式 */
.container {
  max-width: 1320px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
  
 }

.row{
    display: flex;
    flex-direction: row;
    margin-left: -12px;
  margin-right: -12px;
}
.py-48{
    padding-right: 48px;
}

.py-40{
    padding-right: 40px;
}
.py-8{
    padding: 8px 0;
}
.person{
   margin-left: auto;
    
}
/*顏色*/
:root{
    --Primary-200:#E8FEC5;
    --Primary-300:#C0FA73;
    --Primary-400:#57A203;
    --Neutral-300:#DEE2E6;
    --Neutral-600:#6C757D;

    --Neutral-900:#212529;
}
.d-flex{
    display: flex;
    flex-direction: row;
    
}
.justify-center{
  justify-content: center;  
}
.align-center{
        align-items: center;
}
.col{
    padding-left: 12px;
    padding-right: 12px;
    width:calc(100%/12);
}
.col-2{
    padding-left: 12px;
    padding-right: 12px;
    width:calc(100%/12*2);
    
}
.col-3{
    padding-left: 12px;
    padding-right: 12px;
    width:calc(100%/12*3);
}
.col-4{
    padding-left: 12px;
    padding-right: 12px;
    width:calc(100%/12*4);
}
.col-5{
    padding-left: 12px;
    padding-right: 12px;
    width:calc(100%/12*5);
}
.col-6{
    padding-left: 12px;
    padding-right: 12px;
    width:calc(100%/12*6);
}
.col-7{
    padding-left: 12px;
    padding-right: 12px;
    width:calc(100%/12*7);
}
.col-8{
    padding-left: 12px;
    padding-right: 12px;
    width:calc(100%/12*8);
}
.col-9{
    padding-left: 12px;
    padding-right: 12px;
    width:calc(100%/12*9);
}
.col-10{
    padding-left: 12px;
    padding-right: 12px;
    width:calc(100%/12*10);
}
.col-11{
    padding-left: 12px;
    padding-right: 12px;
    width:calc(100%/12*11);
}
.col-12{
    padding-left: 12px;
    padding-right: 12px;
    width:100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: -12px;
}

.h1 {
  font-size: 40px;
  line-height: 1.2;
  font-weight: 700;
}
.h3{
    font-family: Noto Sans TC;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.2;
    letter-spacing: 0.05em;
}
.h4{
    font-family: Noto Sans TC;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.05em;
}
.h6{
    font-family: Noto Sans TC;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.05em; 
}

.py-32 {
  padding: 32px 0;
}
.pr-24{
    padding-right: 24px;
}
.pr-12{
    padding-right: 12px;
}
.pr-8{
    padding-right: 8px;
}
.mb-48 {
  margin-bottom: 48px;
}
.mb-24{
    margin-bottom: 24px;
}
.mb-16{
    margin-bottom: 16px;
}
.mb-12{
    margin-bottom: 12px;
}
.mb-4{
    margin-bottom: 4px;
}
.mb-0{
    margin-right: auto;
}
.ml-0{
    margin-left: auto;
}
/*元件*/
.slash+.slash::before{
    content: "/";
    padding:  0 12px;
    color: var(--Neutral-300);
    font-weight:700;
}
.slash{
    display: flex;
    font-weight: 500;
}
.brand-link{
    color: var(--Neutral-600);
}    
.active{
    color: var(--Primary-400);
}  
.list{
    font-family: Noto Sans TC;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.05em;
} 
.btn{
    border-radius: 4px;
    padding: 12px 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    cursor: pointer;
    border: none;
    background-color: transparent;
    
} 
.page .active{     
     background-color: var(--Primary-300);
}
.page .btn{
    padding: 8px 15px;
    border-radius: 0;
    font-weight: 400;
}
.bg-primary-200{
    background-color: var(--Primary-200);
    height: 96px;
}
.btn1{
    border-radius: 4px;
    padding: 12px 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    cursor: pointer;
    border: none;
    background-color: var(--Neutral-900);
    color:white;
} 
.cop{
   color: var(--Neutral-600); 
   font-family: Noto Sans TC;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    text-align: center;
    padding-bottom: 4px;
}

.menu1{
  border-bottom: 1px solid lightgray;
  margin-bottom: 24px;
}

@media(max-width: 768px){
    *,
*::before,
*::after {
  box-sizing: border-box;
}
    .container{
     max-width: 100%;
     margin: 0 auto;
    padding: 0 6px;
  }
    .link{

    display: none;
  }
    .mb-32-m{
    margin-bottom: 32px;
  }
  .mt-32-m{
    margin-top: 32px;
  }
  .mb-24-m{
    margin-bottom: 24px;
  }
  .mb-8-m{
    margin-top: 8px;
  }
  .my-8-m{
    margin-bottom: 8px;
  }
  .mb-0-m{
    margin-bottom: 0;
  }
  .py-13-m{
    padding: 13px 0;
  }
  
  .py-16-m{
    padding: 16px 0;
  }
 
   .pb-24-m{
    padding-bottom: 24px;
  }
  .pb-12-m{
    padding-bottom: 12px;
  }
  .py-12-m{
    padding: 0 12px;
  }
  
  .slash+.slash::before{
    padding:  0 8px;
   
}
.brand-link{
    font-size: 14px;
}
.row-rwd{
    display: flex;
     flex-wrap: wrap;
    margin-right: -6px;
    margin-left: -6px;
   }   
    .col-rwd{
    padding-left:6px;
    padding-right: 6px;
    width:calc(100%/4);
}
    .col-2-rwd{
    padding-left:6px;
    padding-right: 6px;
    width:calc(100%/4*2);
    
}
.col-3-rwd{
   padding-left:6px;
    padding-right: 6px;
    width:calc(100%/4*3);
}
.col-4-rwd{
  padding-left:6px;
    padding-right: 6px;
    width:calc(100%/4*4);
}
 .h3-rwd{
    font-size: 28px;}
    .h4-rwd{
    font-size: 24px;}
     .h5-rwd{
    font-size: 20px;}
     .h6-rwd{
    font-size: 16px;}
    
.menu1-rwd{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}  


}
    




@media(max-width: 576px){
*,
*::before,
*::after {
  box-sizing: border-box;
}
 .container{
     max-width: 100%;
     margin: 0 auto;
    padding: 0 6px;
  }

  .row-rwd{
    display: flex;
     flex-wrap: wrap;
    margin-right: -6px;
    margin-left: -6px;
   }   
    .h5-rwd{
      font-size: 20px;}
   .pr-16-s{
      padding-right: 16px;
    }
  .pt-12-s{
      padding-top: 24px;
    }
    .btn1{
     
      padding:8px 16px;
  
  }
  .row-rwd{
    display: flex;
     flex-wrap: wrap;
    margin-right: -6px;
    margin-left: -6px;
   } 
}