/*引入字體*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');


/* 前方引入外部資源、CSS reset */

/* 標籤的基本樣式 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

img {
	vertical-align: middle;
    max-width: 100%;
    height: auto;
}

a {
  text-decoration: none;
  color: #000;
}

/* 通用樣式 */
.container {
  width: 1296px;
  margin: 0 auto;
 
}
.container py-16{
    display: flex;
   justify-content: space-between;
   align-items: center;
}
container py-32{
    display: flex;
   justify-content: space-between;
   align-items: center;
}
.row{
    display: flex;
    flex-direction: row;
}
.py-48{
    padding-right: 48px;
}
.py-48 img{
    width: 129px;
    height: 46px;
}
.py-40{
    padding-right: 40px;
}
.py-8{
    padding: 8px 0;
}
.bi bi-person{
    margin-left: 0 auto;
}
/*顏色*/
:root{
    --Primary-200:#E8FEC5;
    --Primary-300:#C0FA73;
    --Primary-400:#57A203;
    --Neutral-300:#DEE2E6;
    --Neutral-600:#6C757D;

    --Neutral-900:#212529;
}
.d-flex{
    display: flex;
    flex-direction: row;
    
}
.justify-center{
  justify-content: center;  
}
.align-center{
    align-items: center;
}
.col{
    padding-left: 12px;
    padding-right: 12px;
    width:calc(100%/12);
}
.col-2{
    padding-left: 12px;
    padding-right: 12px;
    width:calc(100%/12*2);
    
}
.col-3{
    padding-left: 12px;
    padding-right: 12px;
    width:calc(100%/12*3);
}
.col-4{
    padding-left: 12px;
    padding-right: 12px;
    width:calc(100%/12*4);
}
.col-5{
    padding-left: 12px;
    padding-right: 12px;
    width:calc(100%/12*5);
}
.col-6{
    padding-left: 12px;
    padding-right: 12px;
    width:calc(100%/12*6);
}
.col-7{
    padding-left: 12px;
    padding-right: 12px;
    width:calc(100%/12*7);
}
.col-8{
    padding-left: 12px;
    padding-right: 12px;
    width:calc(100%/12*8);
}
.col-9{
    padding-left: 12px;
    padding-right: 12px;
    width:calc(100%/12*9);
}
.col-10{
    padding-left: 12px;
    padding-right: 12px;
    width:calc(100%/12*10);
}
.col-11{
    padding-left: 12px;
    padding-right: 12px;
    width:calc(100%/12*11);
}
.col-12{
    padding-left: 12px;
    padding-right: 12px;
    width:100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: -12px;
}

.h1 {
  font-size: 40px;
  line-height: 1.2;
  font-weight: 700;
}
.h3{
    font-family: Noto Sans TC;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.2;
    letter-spacing: 0.05em;
}
.h4{
    font-family: Noto Sans TC;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.05em;
}
.h6{
    font-family: Noto Sans TC;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.05em; 
}

.py-32 {
  padding: 32px 0;
}
.pr-24{
    padding-right: 24px;
}
.pr-12{
    padding-right: 12px;
}
.pr-8{
    padding-right: 8px;
}
.mb-48 {
  margin-bottom: 48px;
}
.mb-24{
    margin-bottom: 24px;
}
.mb-16{
    margin-bottom: 16px;
}
.mb-12{
    margin-bottom: 12px;
}
.mb-4{
    margin-bottom: 4px;
}
.mb-0{
    margin-right: 0 auto;
}
/*元件*/
.slash+.slash::before{
    content: "/";
    padding:  0 12px;
    color: var(--Neutral-300);
    font-weight:700;
}
.slash{
    display: flex;
    font-weight: 500;
}
.brand-link{
    color: var(--Neutral-600);
}    
.active{
    color: var(--Primary-400);
}  
.list{
    font-family: Noto Sans TC;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.05em;
} 
.btn{
    border-radius: 4px;
    padding: 12px 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    cursor: pointer;
    border: none;
    background-color: transparent;
    
} 
.page .active{     
     background-color: var(--Primary-300);
}
.page .btn{
    padding: 8px 15px;
    border-radius: 0;
    font-weight: 400;
}
.bg-primary-200{
    background-color: var(--Primary-200);
    height: 96px;
}
.btn1{
    border-radius: 4px;
    padding: 12px 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    cursor: pointer;
    border: none;
    background-color: var(--Neutral-900);
    color:white;
} 
.cop{
   color: var(--Neutral-600); 
   font-family: Noto Sans TC;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    text-align: center;
    padding-bottom: 4px;
}